* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex-wrap: wrap;
}
nav {
  background: #000;
  color: white;
  height:40px;
}
li {
  display: inline;
  padding: 10px;
  font-family: "Grandstander", cursive;
  font-weight: bolder;
  font-size: xx-large;
}

.fornt {
    flex-wrap: wrap;
  object-fit:cover;
  width: 100vw;
  height: 100.1vh;
}
.button{
    font-family: "Grandstander", cursive;
    color: black;
    background-color:#8bcdcd;
    font-size: x-large;
    width:150px;
    height:30px;
    border-radius:20px;
animation: fade 5s 1;
}
@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}